<IfModule mod_rewrite.c>
   RewriteEngine On
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_FILENAME} !-d
   RewriteRule ^(.*)$ /index.php [QSA,L]
</IfModule>

# Redirection
Redirect permanent /ipad/  http://www.antistatique.net/fr/
Redirect permanent /fr/seo  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio.html  http://www.antistatique.net/fr/
Redirect permanent /fr/stream.html  http://www.antistatique.net/fr/
Redirect permanent /fr/solutions.html  http://www.antistatique.net/fr/
Redirect permanent /fr/webmarketing.html  http://www.antistatique.net/fr/
Redirect permanent /fr/iphone.html  http://www.antistatique.net/fr/
Redirect permanent /fr/gis.html  http://www.antistatique.net/fr/
Redirect permanent /fr/contact.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/flash  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/webdesign  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/newsletter  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/website  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/webapp  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/webmarketing  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/ecommerce  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/cms  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/graphisme  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/foncia  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/responsive  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/escom.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/okado.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/marche_cuendet.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/symfony  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/lesmiserables.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/eshopboky.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/uchitomi.html  http://www.antistatique.net/fr/portfolio/uchitomi
Redirect permanent /fr/portfolio/rdr.html  http://www.antistatique.net/fr/portfolio/rdr
Redirect permanent /fr/portfolio/noemie.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/whaa.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/clos_de_laiglon.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/rita_newsletter.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/caliusa.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/faceaface_app.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/banner_rp.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/ligue_newsletter.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/espoirsite.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/generalmedia  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/residence_verger.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/boomback.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/magenta.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/fondation_respirer.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/rblm.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/swissinso.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/grand_pre_val.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/maquettes_places_de_jeux.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/agora_virtuelle.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/radio_materiel_newsletter.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/twimsuk.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/courtiers.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/boky_newsletter.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/livre_cd_ligue.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/surfontaine.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/faceaface.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/newsletter_couronne.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/helsana.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio.html?page=2  http://www.antistatique.net/fr/
Redirect permanent /fr/stream.html?p=1  http://www.antistatique.net/fr/
Redirect permanent /iphone.html  http://www.antistatique.net/fr/
Redirect permanent /iphone/contact  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/ee-oron.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/aton-service  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/carrard-associes.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/tennislausanne-site.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/jeromegiller-blog.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/tennislausanne-social.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/le-cazard.html  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/helsana  http://www.antistatique.net/fr/
Redirect permanent /fr/agence-web-interactive-lausanne.html  http://www.antistatique.net/fr/team
Redirect permanent /fr/portfolio/paroisse-motier-vully.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/credit-agricole-rai.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/plaquette-la-prairie.html  http://www.antistatique.net/fr/
Redirect permanent /iphone/portfolio.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/plaquette-les-chataigners-concise.html  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/marche_cuendet  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/caliusa  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/grand_pre_val  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/as_newsletter_01  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/espoirsite  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/gis  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/drupal  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/ee-oron  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/communication  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/design  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/ucfvaud.html  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/surfontaine  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/r%C3%A9servation  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/print  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/banner  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/radio_materiel.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/boomback_eshop.html  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/communication-helios  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/boky_newsletter  http://www.antistatique.net/fr/
Redirect permanent /iphone/portfolio.html?page=3  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/twitter  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/eshopboky  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/uchitomi  http://www.antistatique.net/fr/portfolio/uchitomi
Redirect permanent /iphone/portfolio.html?page=4  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/twimsuk  http://www.antistatique.net/fr/
Redirect permanent /iphone/portfolio.html?page=6  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/onair  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/site_vitrine  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/leadandenjoy.html  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/aton-service_webmarketing  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/rita_newsletter  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/agenda  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/crm  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/swissinso  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/espoircom  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/radio_materiel_newsletter  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/carrard-associes  http://www.antistatique.net/fr/
Redirect permanent /iphone/fr/portfolio/noemie  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/onair.html  http://www.antistatique.net/fr/
Redirect permanent /fr/portfolio/filter/marketing  http://www.antistatique.net/fr/
