{% extends "portfolio/base.html.twig" %}

{% block title %}Cas Richter - Dahl Rocha & associés – Design ecommerce sur Magento, Antistatique{% endblock %}


{% block body_class %}{{ parent() }} uchitomi{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>
<div class="page-title title-image">
    <section>
        <h1 class="magenta-sep">
            <span></span>
            Richter - Dahl Rocha & associés
        </h1>
    </section>
</div>
{% endblock %}

{% block content %}

{% block summary %}
<div class="head">
    <div class="summary">
        <h3 class="magenta-sep">
            <span></span>
            Brief
        </h3>
        <div class="text">
            <p class="lead">Un cabinet d'architectes présent sur plusieurs continents.</p>
            <p>qui possède des équipes de designers très compétents en interne.</p>
        </div>
    </div>
    {% endblock %}

    {% block solutions %}
    <div class="solutions">
        <h3 class="magenta-sep">
            <span></span>
            Solution
        </h3>
        <div class="text">
            <p class="lead">Une écoute attentive des attentes du client.</p>
            <p>Notre créativité pour plier les dernières technologies web à ses attentes.</p>
            <a href="http://www.richterdahlrocha.com/fr/" class="btn">Visiter le site de Richter – Dahl Rocha & associés</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
{% endblock %}

{% block tech %}
<div class="tech section">
    <h3 class="title-separation">
        <span></span>
        Un aperçu des techniques utilisées :
    </h3>
    <div class="icons">
        <ul class="row">
            <li>
                <div class="html dev">
                    <i class='icon ico_html5'></i>
                    <h4>
                        <span></span>
                        HTML 5 / CSS 3
                    </h4>
                </div>
            </li>
            <li>
                <div class="github dev">
                    <i class='icon ico_github'></i>
                    <h4>
                        <span></span>
                        Github
                    </h4>
                    <p class="github-text">
                        Versioning et suivi de projet
                    </p>
                </div>
            </li>
            <li>
                <div class="agile">
                    <i class='icon ico_agile'></i>
                    <h4>
                        <span></span>
                        Méthode agile de gestion de projet
                    </h4>
                    <p class="agile-text">
                        Implication maximale du client et de l'équipe à toutes les étapes du projet.
                    </p>
                </div>
            </li>
            <li>
                <div class="responsive">
                    <i class='icon ico_responsive'></i>
                    <h4>
                        <span></span>
                        Responsive Design
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

<div class="prices section">
    <div class="intro">
        <h1 class="magenta-sep">
            <span></span>
            Le site que nous avons réalisé est un bon exemple de notre capacité à plier un framework Symfony aux désirs du client.
        </h1>
        <p class="text">Le design est responsive, stricto sensu. Un des éléments retrouvés sur les notes de nos premiers briefs résume bien le cahier des charges à ce niveau : "ce site doit fonctionner sur un vieux Nokia".</p>
        <p class="text">
        L'UX et le design ont été gérés en interne par notre client, ce qui semble logique : un cabinet d'architectes avec une branche design a envie de se faire plaisir sur son propre site. Comme quand nous refaisons notre site web dont chaque bout de code est passé à la brosse à reluire, en somme.</p>
    </div>
</div>






{% endblock %}
