{% extends "portfolio/base.html.twig" %}

{% block title %}Cas Uchitomi - Design ecommerce sur Magento, Antistatique{% endblock %}


{% block body_class %}{{ parent() }} uchitomi{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>
<div class="page-title title-image">
    <section>
        <h1 class="title-separation magenta-sep">
            <span></span>
            Uchitomi
        </h1>
    </section>
</div>
{% endblock %}

{% block content %}

<h1>Uchitomi c'est: des sushis, beaucoup de design et du magento rigolo.</h1> 

{% endblock %}
