{% extends "portfolio/base.html.twig" %}

{% block title %}Cas Uchitomi - Design ecommerce sur Magento, Antistatique{% endblock %}


{% block body_class %}{{ parent() }} uchitomi{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>
<div class="page-title title-image">
    <section>
        <h1 class="magenta-sep">
            <span></span>
            Uchitomi
        </h1>
    </section>
</div>
{% endblock %}

{% block content %}

{% block summary %}
<div class="summary">
    <h3 class="magenta-sep">
        <span></span>
        Brief
    </h3>
    <div class="text">
        <p class="lead">Uchitomi, une épicerie japonaise spécialisée dans le sushi frais, avait besoin d'une solution web pour gérer ses réservations.</p>
        <p>Particularité : les sushis sont à consommer sur place ou à emporter. Les contraintes étaient donc différentes de ce qu'on trouve habituellement dans ce genre de réalisation. Il fallait tenir compte des horaires de retrait, des rythmes en cuisine et des jours et horaires d'ouverture, sur deux sites différents à Lausanne et Genève.
        </p>
    </div>
</div>
{% endblock %}

{% block solutions %}
<div class="solutions">
    <h3 class="magenta-sep">
        <span></span>
        Solution
    </h3>
    <div class="text">
        <p class="lead">Un e-shop Magento fortement personnalisé utilisant les dernières technologies HTML5 et CSS3.
        </p>
        <p>Un nouveau design ludique et original. Une gestion de projet au plus près des attentes du client.
        </p>
        <a href="http://www.uchitomi.ch" class="btn">Visiter le site d'uchitomi</a>
    </div>
</div>
{% endblock %}

{% block tech %}
<div class="tech section">
    <h3 class="title-separation">
        <span></span>
        Un aperçu des techniques utilisées :
    </h3>
    <div class="icons">
        <ul class="row">
            <li>
                <div class="magento">
                    <img src="http://www.placehold.it/70x85" alt="Magento icon">
                    <h4>
                        <span></span>
                        Magento
                    </h4>
                    <p class="magento-text">
                        Plateforme e-commerce utilisée par les plus grandes marques (The Northface, Lindt, Zadig & Voltaire...)
                    </p>
                </div>
            </li>
            <li>
                <div class="html">
                    <img src="http://www.placehold.it/70x85" alt="HTML & CSS icon">
                    <h4>
                        <span></span>
                        HTML 5 / CSS 3
                    </h4>
                    <p class="html-text">
                        JavaScript Fallback
                    </p>
                </div>
            </li>
            <li>
                <div class="github">
                    <img src="http://www.placehold.it/70x85" alt="Github icon">
                    <h4>
                        <span></span>
                        Github
                    </h4>
                    <p class="github-text">
                        Versioning et suivi de projet
                    </p>
                </div>
            </li>
        </ul>
        <ul class="row">
            <li>
                <div class="agile">
                    <img src="http://www.placehold.it/70x85" alt="Agile Methods icon">
                    <h4>
                        <span></span>
                        Méthode agile de gestion de projet
                    </h4>
                    <p class="agile-text">
                        Implication maximale du client et de l'équipe à toutes les étapes du projet.
                    </p>
                </div>
            </li>
            <li>
                <div class="rebranding">
                     <img src="http://www.placehold.it/70x85" alt="Rebranding icon">
                    <h4>
                        <span></span>
                        Rebranding
                    </h4>
                </div>
            </li>
            <li>
                <div class="responsive">
                    <img src="http://www.placehold.it/70x85" alt="Responsive icon">
                    <h4>
                        <span></span>
                        Responsive Design
                    </h4>
                </div>
            </li>
            <li>
                <div class="tests">
                    <img src="http://www.placehold.it/70x85" alt="tests utilisateurs icon">
                    <h4>
                        <span></span>
                        Tests utilisateurs (ergonomie) :
                    </h4>
                    <p class="rebranding-text"> 
    l’aide précieuse de :ratio. Ceux-ci nous ont permis de mieux expliquer la notion de réservation et d’améliorer la navigation en général.
    <a href="http://www.ratio8.ch">www.ratio8.ch</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

<div class="prices section">
    <div class="intro">
        <h1 class="title-separation">
            Cette réalisation tient une place à part dans l’histoire de l’agence.
        </h1>
        <p class="text">Le plaisir principal pour nous ? La grande part d'expérimentation et de raffinage de nos compétences nécessaires pour mener la mission à bien. Même si la course aux récompenses autres que la satisfaction des clients d'Antistatique n'est pas notre but, il est toujours agréable de voir son travail salué par ses pairs.</p>
    </div>
    <ul>
        <li>
            <div>
                <img src="http://www.placehold.it/120x80" alt="">
                <h4>Site of the Day, catégorie CSS</h4>
                <a href="http://www.awwwards.com/winners/antistatique">Awwwards</a>
            </div>
        </li>
        <li>
            <div>
                <img src="" alt="Meilleur du web">
                <h4>Winner in Design & Ergonomie</h4>
                <a href="http://www.meilleurduweb.ch/fr/blog/2011/11/29/meilleur-du-web11-award-categorie-design-egronomie/"></a>
            </div>
        </li>
        <li>
            <div>
                <img src="" alt="">
                <h4>2012-Création-bronze + SCREEN ?</h4>
                <a href="http://www.bestofswissweb.ch/fr/hall-of-fame/bestever/"></a>
            </div>
        </li>
    </ul>
</div>

<div class="challenges section">
    <div class="challenge1 challenge">
        <img src="http://www.placehold.it/941x533" alt="">
        <p>
        Rassembler les plusieurs étapes d'une commande en ligne (pending, confirmée, payée, traitée, expédiée, livrée) en un seul bouton.
        </p>
    </div>
    <div class="challenge2 challenge">
        <img src="http://www.placehold.it/563x319" alt="">
        <p>
        Dispatcher les commandes au bon site de production via un système d'e-mail.
        </p>
    </div>
    <div class="challenge3 challenge">
        <img src="http://www.placehold.it/751x426" alt="">
        <p>
        Contraintes horaires sur la commande : horaires d'ouverture des magasins et des cuisines, horaires différents suivant les jours et les sites, vacances et jours fériés différents, délai minimal entre la commande et sa récupération.
        </p>
    </div>
    <div class="challenge4 challenge">
        <img src="http://www.placehold.it/460x262" alt="">
        <p>
        Ajout de l'option "quantité" dans le listing d'affichage de Magento.
        </p>
    </div>
</div>

<div class="design">
    <aside>
        <h2 class="title-separation">Design</h2>
        <img src="http://www.placehold.it/362x381" alt="">
    </aside>
    <article>
        <h3>Le mandat comprenait également la mise en place d'une nouvelle identité visuelle.
        </h3>
        <div class="multi-column">
            <p>
                L'occasion pour nous d'aborder un élément sur lequel les agences communiquent rarement : comment gère-t-on, au cours de la vie d'un projet, le moment où le client n'a pas du tout envie de nous suivre sur un point ? En l'occurrence, la première version du design. Dans ce cas précis, la remise en question a été rapide : modification de la répartition des responsabilités (redistribution du project management et de l'account management), pour améliorer l'écoute des attentes exactes du client sur ce point. La situation a ainsi été rapidement débloquée, et la seconde version du design acceptée.
            </p>
            <p>Après une première variante beaucoup plus neutre, il fallait aller plus loin. Nous nous sommes inspirés du logo d'Uchitomi, ainsi que de packagings de nourriture japonaise présents dans l'épicerie, et nous y avons ajouté une pointe d'humour.</p>
            <p><strong>"Une famille de picto-personnages"</strong></p>
            <p>Cela nous a conduit à un univers graphique fort, tiré des mangas. Nous avons conçu toute une famille de picto-personnages spécifiques pour accompagner l'utilisateur final à chaque étape et rendre les actions possibles claires et ludiques.</p>
        </div>
    </article>
</div>

<div class="newsletter">
    <h3 class="title-separation">Nous nous sommes également occupé de réaliser et d'intégrer leur Newsletter.</h3>
    <div class="multi-column">
        <p>Dit comme ça, on pourrait trouver la chose assez banale. Et pourtant. Passons en revue quelques éléments techniques. Par principe, nous sommes évidemment opposés à la newsletter sous forme d'image unique, notamment pour des raisons de passage des filtres anti-spam.</p>

        <p>Du texte donc, illustré d'images, et de la mise en page soignée. Nous passons systématiquement par un système de mailing dédié (Campaign Monitor, dans ce cas précis).</p>

        <p>On peut parler d'un véritable art dans la technique et le design : une Newsletter efficace doit être testée pour s'afficher correctement sur tous les navigateurs, tous les terminaux, tous les systèmes d'exploitation, tous les clients mail. Les contraintes sont donc plus élevées que pour un site web. La Newsletter d'Uchitomi est également responsive.</p>

        <p>Lors du lancement de ce nouvel outil, nous avons tenus à envoyer un "numéro 0" préventif, précisant clairement aux lecteurs la fréquence à laquelle notre client comptait communiquer avec eux via ce canal, ainsi qu'une option de désinscription claire et facile.</p>

        <p>L'idée était clairement de réactiver une communauté : la marque de notre client bénéficie d'un excellent bouche-à-oreilles à Lausanne et Genève, cet outil devait être le moins intrusif possible.</p>

        <p>Le rythme d'envoi d'une newsletter par mois a été tenu par notre client depuis décembre dernier. Nous l'avons dans un premier temps accompagné pour la rédaction, puis lui avons fourni tous les outils pour publier lui-même. Une version intégralement traduite en japonais existe également.</p>
    </div>
</div>

<div class="testimonial">
    <h3 class="title-separation">Testimonial client</h3>
    <p>Notre site internet devenant "démodé" et ne nous plaisant plus du tout, nous étions à la recherche d'une entreprise pouvant renouveler notre site à notre image et de manière originale. Antistatique a répondu à nos attentes et nous avons été ravis du résultat.</p>

    <p>Par son désign et son originalité, le site a connu un grand succès auprès de notre clientèle, nous avons reçu beaucoup de compliments. La collaboration avec Antistatique s'est très bien déroulée et nous sommes donc satisfaits du résultat.</p>
</div>

{% endblock %}
