{% extends "layout.html.twig" %}

{% block title %}{{ 'job.title' | trans }} - Digital project manager{% endblock %}

{% block meta_description%}Artisans du web. Notre agence se situe à Lausanne, Suisse.{% endblock %}

{% block body_class %}job{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>
<div class="page-title title-image">
    <section>
        <h1 class="title-separation magenta-sep">
            <span></span>
            Digital project manager
        </h1>
    </section>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="page-content">
        <h2>En tant que chef de projet, tu seras le maître du temps et des ressources; Impliqué pendant toute la durée du projet pour sa gestion et la relation avec le client.
        </h2>

        <h3>En bref, le profil recherché</h3>
        <p>Un gestionnaire de projets digitaux passionné par les nouvelles technologies et la communication pour un poste à 100%. H/F – 25 ans / 35 ans – Suisse, Permis B - C</p>

        <h3>Tâches principales</h3>
        <ul>
            <li>Gestion de projet et suivi client</li>
            <li>Gérer la relation client</li>
            <li>Comprendre les besoins du client pour les synthétiser à l’équipe</li>
            <li>Rédiger les spécifications avec l'équipe technique et le client</li>
            <li>Gérer les séances de travail, rédiger des comptes rendu</li>
            <li>Planifier les ressources</li>
            <li>Suivre le projet (rentabilité du projet, avancement, situation) </li>
            <li>Contribuer à l'évolution des process de l'agence</li>
        </ul>

        <h3>Profil du candidat idéal</h3>
        <ul>
            <li>Formation dans un domaine technique, diplôme universitaire ou HES </li>
            <li>Expérience de minimum 2 ans dans la gestion de projet, si possible dans la gestion de projet agile</li>
            <li>Très bonnes connaissances des nouvelles technologies web</li>
            <li>Personne méthodique, rigoureuse et organisée ayant un sens de l’écoute et du service client</li>
            <li>Esprit de synthèse et d'analyse</li>
            <li>Qualités d'expression orales et écrites, de communication</li>
            <li>Capacité à anticiper et respecter des délais</li>
            <li>Langue maternelle française </li>
            <li>Excellente maîtrise de l’anglais</li>
            <li>Excellentes capacités rédactionnelles en français et en anglais</li>
        </ul>

        <h3>Passion du web</h3>
        <p>Être prêt à participer à notre veille technologique et au partage de connaissances (Rédaction d'articles du blog, présentations, animation de séminaires, etc).</p>

        <h3>Antistatique</h3>
        <p>Antistatique est une agence digitale de 7 personnes basée à Lausanne, en Suisse.
            Nous accompagnons nos clients dans la réalisation de leur communication web, application mobile, e-commerce et dans la mise en place de stratégies e-marketing.
        </p>
        <p>Bien implantée dans la communauté web locale, toute l’équipe participe régulièrement aux meetups et conférences sur les domaines du web.
        </p>

        <h3>Soumission du dossier</h3>
        <p>Alors, si tu te reconnais dans cette description, contacte-nous sans tarder en envoyant un mail de motivation, ton CV, l’url de ton site et ton twitter à <a href="mailto:job@antistatique.net?subject=Je%20g%C3%A8re%20les%20projets%20comme%20un%20chef%2C%20engagez-moi%20%21">job@antistatique.net</a>.
        </p>
        <p>
            Les dossiers envoyés par poste ne seront pas traités.
        </p>
    </div>
</section>
{% endblock %}