{% extends "layout.html.twig" %}

{% block title %}{{ 'job.title' | trans }} - Web Developer (60%){% endblock %}

{% block meta_description%}Artisans du web. Notre agence se situe à Lausanne, Suisse.{% endblock %}

{% block body_class %}job{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>
<div class="page-title title-image">
    <section>
        <h1 class="title-separation magenta-sep">
            <span></span>
            Web Developer (60%)
        </h1>
    </section>
</div>
{% endblock %}

{% block content %}
<section>
    <div class="page-content">
        <h2>En tant que développeur web, tu auras la charge de soutenir notre équipe de développement. Il s’agit d’un poste à temps partiel </h2>

        <h3>En bref, le profil recherché</h3>

        <p>Un/Une jeune développeur web passionné par les nouvelles technologies et la communication pour un poste à temps partielle (à discuter). H/F – 19 ans / 35 ans.</p>

        <h3>Formation et connaissances</h3>
        <ul>
            <li>Formation dans le domaine de l’informatique</li>
            <li>Diplôme universitaire ou HES (ou équivalent)</li>
            <li>Expérience dans le développement web de minimum 1 ans</li>
            <li>Très bonnes connaissances des nouvelles technologies web</li>
            <li>Bonnes connaissances de PHP5</li>
            <li>Connaissance du framework Symfony</li>
            <li>Bonnes connaissances des base de données</li>
            <li>Bonne connaissance du Javascript</li>
            <li>Connaissances HTTP, REST, CSS, HTML</li>
            <li>Bonne maîtrise de l’anglais</li>
            <li>Connaissance de l’allemand, un plus</li>
            <li>Maitrise des outils de versionning (git / subversion)</li>
        </ul>

        <h3>Tâches principales</h3>
        <h4>Développement web</h4>
        <ul>
            <li>Développement PHP 5 avec le framwork Symfony 2</li>
            <li>Intégration HTML / CSS / LESS</li>
            <li>Développement sous Drupal</li>
        </ul>


        <h3>Exigences sociales et compétences personnelles</h3>
        <ul>
            <li>Méthodique, rigoureux et organisé</li>
            <li>Esprit de synthèse et d'analyse</li>
            <li>Envie d’apprendre et de se perfectionner</li>
        </ul>

        <h3>Passion du web</h3>
        <p>Être prêt à participer à notre veille technologique et au partage de connaissances (Rédaction d'articles du blog, présentations, animation de séminaires, etc).</p>

        <h3>Antistatique</h3>
        <p>Antistatique est une agence digitale de 7 personnes basée à Lausanne, en Suisse.
            Nous accompagnons nos clients dans la réalisation de leur communication web, application mobile, e-commerce et dans la mise en place de stratégies e-marketing.
        </p>
        <p>Bien implantée dans la communauté web locale, toute l’équipe participe régulièrement aux meetups et conférences sur les domaines du web.
        </p>

        <h3>Soumission du dossier</h3>
        <p>Alors, si tu te reconnais dans cette description, contacte-nous sans tarder en envoyant un mail de motivation, ton CV, l’url de ton site, ton GitHub et ton twitter à <a href="mailto:job@antistatique.net?subject=Je%20suis%20un%20d%C3%A9veloppeur%2C%20engagez-moi">job@antistatique.net</a>.
        </p>
        <p>Les dossiers envoyés par poste ne seront pas traités.</p>
    </div>
</section>
{% endblock %}