<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Error 500</title>
        <link href="/assets/css/error.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <span></span>
        <h1>Oops! Une erreur est survenue</h1>
        <h2>Erreur 500</h2>
        <span></span>
        <a href="javascript:history.go(-1);">&lt; Retour à la page précédente</a><br /><br />
        <a href="http://www.antistatique.net/">&lt; Retour à la page d'accueil</a>
    </body>
</html>

