<div class="newsletter">

    <form action="http://mailing.antistatique.net/t/r/s/ykuhg/" method="post" id="newsletter_form">
        <div class="alert alert-success" style="display: none">
            {{ 'footer.newsletter.success' | trans | raw }}
        </div>
        <div class="alert alert-error" style="display: none">
            {{ 'footer.newsletter.error' | trans | raw }}
        </div>

        <div class="fields">
            <input type="text" name="cm-ykuhg-ykuhg" id="ykuhg-ykuhg" placeholder="email@example.org" />
            <input type="submit" value="{{ 'footer.newsletter.submit' | trans }}" />
        </div>
    </form>

</div>