<div id="newsletter">
    <h2>Newsletter mensuelle</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <form action="http://mailing.antistatique.net/t/r/s/ykuhg/" method="post" id="newsletter_form">
        <div class="alert alert-success" style="display: none">
            {{ 'footer.newsletter.success' | trans | raw }}
        </div>
        <div class="alert alert-error" style="display: none">
            {{ 'footer.newsletter.error' | trans | raw }}
        </div>
        <div class="fields">
            <input type="text" name="cm-ykuhg-ykuhg" id="ykuhg-ykuhg" placeholder="email@example.org" class="email-field"/>
            <input type="submit" value="{{ 'footer.newsletter.submit' | trans }}" class="submit" />
        </div>
    </form>
</div>