<div id="stay-in-touch">
    <h3 class="title-separation">
        <span></span>
        Restons proches
    </h3>
    <p class="social-links">
        <a href="http://www.twitter.com/antistatique"><span class="icon">T</span>Twitter</a>
        <a href="http://www.facebook.com/Antistatique"><span class="icon">F</span>Facebook</a>
        <a href="http://www.linkedin.com/company/antistatique.net"><span class="icon">L</span>LinkedIn</a>
        <a href="http://www.behance.net/antistatique"><span class="icon">B</span>Behance</a>
        {% if app.blog_feed %}
            <a href="{{ app.blog_feed }}" title="Blog"><span class="icon">R</span>RSS</a>
        {% endif %}
    </p>
</div>