{% extends "layout.html.twig" %}

{% block title %}{{ 'contact.title' | trans }}{% endblock %}

{% block content %}

    <a href="mailto:hello@antistatique.net">hello@antistatique.net</a><br>
    +41 21 623 63 03<br>

    <address>
        Antistatique<br>
        Rue de Sébeillon 9b<br>
        1004 Lausanne<br>
        Suisse
    </address>

{% endblock %}