{% extends "layout.html.twig" %}

{% block title %}{{ 'homepage.title' | trans }}{% endblock %}

{% block content %}
    <section id="baseline" class="hero">
        <div class="container">
            <h1>
                Nous sommes <a href="/team">une équipe d’artisans</a><br/> du web, lausannois, digital natives,<br/> curieux et <a href="/blog">exigeants</a>. 
            </h1>
            <a href="/contact" class="action-contact">Contactez-nous</a>
        </div>
    </section>

    <section id="work">
        <div class="container">
            <h3>Des réalisations soignées</h3>
        </div>
    </section>

    {% include '_newsletter.html.twig' %}

{% endblock %}
