{% extends "layout.html.twig" %}

{% block title %}Hello world{% endblock %}

{% block content %}
    <section id="baseline" class="hero">
        <div class="container">
            <h1>
                Nous sommes une équipe d’artisans du web, lausannois, digital natives, curieux et exigeants. 
            </h1>
            <a href="/contact">contactez-nous</a>
        </div>
    </section>
{% endblock %}