{% extends "layout.html.twig" %}

{% block title %}{{ 'homepage.title' | trans }}{% endblock %}

{% block content %}
    <section id="baseline" class="hero">
        <div class="container">
            <h1>
                Nous sommes <a href="/team">une équipe d’artisans</a><br/> du web, lausannois, digital natives,<br/> curieux et <a href="/blog">exigeants</a>. 
            </h1>
            <a href="/contact" class="action-contact">Contactez-nous</a>
        </div>
    </section>

    <section id="work">
        <div class="container">
            <h3>Des réalisations soignées</h3>

            <div class="row">
                <div id="uchitomi" class="work span4">
                    <h1>Uchitomi</h1>
                    <h2>Boutique en ligne sur mesure avec Magento</h2>
                </div>
                <div id="rdr" class="work span4">
                    <h1>RDR Architectes</h1>
                    <h2>Boutique en ligne sur mesure avec Magento</h2>
                </div>
                <div id="tehran" class="work span4">
                    <h1>Tehran Watch</h1>
                    <h2>Boutique en ligne sur mesure avec Magento</h2>
                </div>
            </div>
        </div>
    </section>

    <section id="antistatique">
        <div class="container">
            <div class="about-us row">
                <div id="contact-us" class="span4">
                    <div id="work-together">
                        <a href="/contact" class="action-work-together">Travaillons ensemble</a>
                    </div>
                    <div id="let-s-talk">
                        <h3>Parlons-nous</h3>
                        <p>
                            <a href="tel:0041216236303">+41 21 623 63 03</a><br/>
                            <a href="mailto:hello@antistatique.net">hello@antistatique.net</a>
                        </p>
                    </div>
                    <div id="stay-in-touch">
                        <h3>Gardons contact</h3>
                        <p>
                            <a href="http://www.twitter.com/antistatique">Twitter</a><br/>
                            <a href="http://www.facebook.com/Antistatique">Facebook</a><br/>
                            <a href="http://www.linkedin.com/company/antistatique.net">LinkedIn</a>
                            <a href="#RSS">RSS</a>
                        </p>
                    </div>
                </div>
                <div id="our-mission" class="span8">
                    <h1>Notre mission ? Combattre la poussière et éliminer les risques d’inflammation dans votre présence web.</h1>
                    <p>Nous faisons des sites web rutilants et des applications mobiles vraiment utiles. Nous construisons des boutiques en ligne sur-mesure. Nous soignons votre réputation et le positionnement de votre marque. Nous vous aidons à établir puis exécuter des stratégies appropriées pour les médias sociaux.</p>
                    <a href="/team" class="btn">Découvrir Antistatique</a>
                </div>
            </div>
        </div>
    </section>

    <section id="connect">
        <div class="container">
            <div id="tweet">
                <blockquote cite="http://twitter.com/antistatique/status/238651013966479361">
                    "J'adore le logo de Chrome, ça fait Pokémon". Comme vous le voyez, on repousse les limites.
                </blockquote>
                <p>
                    Sur 
                    <a href="http://twitter.com/antistatique">
                        twitter
                    </a> 
                    le 
                    <time datetime="2012-08-23" pubdate="pubdate">
                        <a href="http://twitter.com/antistatique/status/238651013966479361">
                            23 Août 2012
                        </a>
                    </time>
                </p>
            </div>
        </div>
    </section>
{% endblock %}
