{% extends "layout.html.twig" %}

{% block title %}{{ 'team.title' | trans }}{% endblock %}

{% block meta_description%}Artisans du web. Notre agence se situe à Lausanne, Suisse.{% endblock %}

{% block body_class %}team{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>
<div class="page-title title-image">
    <section>
        <h1 class="title-separation magenta-sep">
            <span></span>
            Team
        </h1>
    </section>
</div>
{% endblock %}

{% block content %}
<section id="content">
    <div id="intro">
        <div class="with-aside">
            <aside>
                <h2>Nous sommes des artisans du web. Notre agence se situe à <a href="http://www.lausanne.ch" title="Le paysage est tout de même plus joli que le site web">Lausanne</a>, Suisse.</h2>
            </aside>
            <article>
                
                <h3>
                    Comment travaillons-nous au quotidien ?
                </h3>
                <p>
                    Nous pratiquons le développement <a href="http://fr.wikipedia.org/wiki/Méthode_agile" title="Non, pas uniquement le dév de Gilles...">Agile</a>. Nous faisons le point le plus souvent possible avec vous, pour affiner nos solutions à vos problèmes. Nous aimons promouvoir les notions d'hygiène du code et de développement durable et future friendly.
                </p>
                <p>
                    Nous travaillons avec ceux qui ont une vision à long terme et qui affectionnent l'analyse précise basée sur des statistiques, des faits et des tests utilisateurs. Nous construisons avec nos clients un partenariat sur la durée. Nous aimons les détails pointus autant que la perspective générale.<br/>
                    Nous sommes exigeants et engagés, vous pouvez compter sur nous. Vraiment.
                </p>
                <p>A part ça, nous aimons le ping-pong.</p>
            </article>
        </div>
    </div>

    <div id="team">
        <div class="with-aside">
            <aside>
                <h1 class="title-separation">
                    <span></span>
                    Notre équipe
                </h1>
            </aside>
            <article class="web-artisans">
                <h3>Nous sommes des gens qui aimons faire, et bien faire.</h3>
                <p>
                    Par artisans, nous entendons que nous relevons nos manches et mettons la main à la pâte pour obtenir un résultat qui vous aidera réellement. <br/>Chaque pixel, chaque ligne de code, chaque zone de texte compte pour nous.
                    
                </p>
            </article>
        </div>

        <div class="member">
            <div class="photo"><img src="/assets/img/team/agz.png"></div>
            <div class="description">
                <h4>Alberto Gomez</h4>
                <p>Web Project Manager</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/kidvaldez"><span class="icon">T</span>@kidvaldez</a>
                    <a class="mail" href="mailto:alberto@antistatique.net"><span class="icon">m</span>alberto@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/in/albertobyas"><span class="icon">L</span>LinkedIn</a>
                    <a class="facebook" href="http://www.facebook.com/alberto.gomezsalfate.7"><span class="icon">F</span>Facebook</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/gde.png"></div>
            <div class="description">
                <h4>Gilles Doge</h4>
                <p>Web Software Developer</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/gil_les"><span class="icon">T</span>@gil_les</a>
                    <a class="mail" href="mailto:gilles@antistatique.net"><span class="icon">m</span>gilles@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/in/gillesdoge"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="http://github.com/gido"><span class="icon">O</span>gido</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/mfh.png"></div>
            <div class="description">
                <h4>Marc Friederich</h4>
                <p>Interactive Medias Engineer</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/zufrieden"><span class="icon">T</span>@zufrieden</a>
                    <a class="mail" href="mailto:marc@antistatique.net"><span class="icon">m</span>marc@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/in/marcfriederich"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="http://github.com/zufrieden"><span class="icon">O</span>zufrieden</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/vgn.png"></div>
            <div class="description">
                <h4>Vincent Gschwindemann</h4>
                <p>Web Designer</p>
                <p class="social-links">
                    <a class="twitter" href="http://twitter.com/_20_cents"><span class="icon">T</span>@_20_cents</a>
                    <a class="mail" href="mailto:vincent@antistatique.net"><span class="icon">m</span>vincent@antistatique.net</a>
                    <a class="linkedin" href="http://www.linkedin.com/pub/vincent-gschwindemann/15/376/b59"><span class="icon">L</span>LinkedIn</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/ygn.png"></div>
            <div class="description">
                <h4>Yann Gouffon</h4>
                <p>Frontend Web Developer</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/Yago_0"><span class="icon">T</span>@Yago_0</a>
                    <a class="mail" href="mailto:yann@antistatique.net"><span class="icon">m</span>yann@antistatique.net</a>
                    <a class="linkedin" href="http://ch.linkedin.com/in/yann-gouffon"><span class="icon">L</span>LinkedIn</a>
                    <a class="github" href="https://github.com/yago31"><span class="icon">O</span>yago31</a>
                </p>
            </div>
        </div>
        <div class="member">
            <div class="photo"><img src="/assets/img/team/spt.png"></div>
            <div class="description">
                <h4>Simon Perdrisat</h4>
                <p>Web Software Developer</p>
                <p class="social-links">
                    <a class="twitter" href="http://www.twitter.com/gagarine"><span class="icon">T</span>@gagarine</a>
                    <a class="mail" href="mailto:simon@antistatique.net"><span class="icon">m</span>simon@antistatique.net</a>
                    <a class="github" href="https://github.com/gagarine"><span class="icon">O</span>gagarine</a>
                    <a class="drupal" href="http://drupal.org/user/162439"><span class="icon">d</span>Drupal User</a>
                </p>
            </div>
        </div>
        <div class="member you">
            <div class="photo"><img src="/assets/img/team/play.png"></div>
            <div class="description">
                <h4>Pour rejoindre l'équipe !</h4>
                <p>Consulter notre <a href="{{ path('job') }}">page job</a> et envoyez-nous votre CV à <a href="mailto:job@antistatique.net">job@antistatique.net</a></p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
