{% extends "layout.html.twig" %}

{% block title %}{{ 'team.title' | trans }}{% endblock %}

{% block body_class %}team{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>
<div class="page-title title-image">
    <section>
        <h1 class="title-separation magenta-sep">
            <span></span>
            Team
        </h1>
    </section>
</div>
{% endblock %}

{% block content %}

<div id="intro">
    <div class="with-aside">
        <aside>
            <h2>Nous sommes des artisans du web. Notre agence se situe à <a href="http://www.lausanne.ch" title="Le paysage est tout de même plus joli que le site web">Lausanne</a>, Suisse.</h2>
        </aside>
        <article>
            
            <h4>
                Comment travaillons-nous au quotidien ?
            </h4>
            <p>
                Nous pratiquons le développement <a href="http://fr.wikipedia.org/wiki/Méthode_agile" title="Non, pas uniquement le dév de Gilles...">Agile</a>. Nous faisons le point le plus souvent possible avec vous, pour affiner nos solutions à vos problèmes. Nous aimons promouvoir les notions d'hygiène du code et de développement durable et future friendly.
            </p>
            <p>
                Nous travaillons avec ceux qui ont une vision à long terme et qui affectionnent l'analyse précise basée sur des statistiques, des faits et des tests utilisateurs. Nous construisons avec nos clients un partenariat sur la durée. Nous aimons les détails pointus autant que la perspective générale.<br/>
                Nous sommes exigeants et engagés, vous pouvez compter sur nous. Vraiment.
            </p>
            <p>A part ça, nous aimons le ping-pong.</p>
        </article>
    </div>
</div>

<div id="team">
    <div class="with-aside">
        <aside>
            <h1 class="title-separation">
                <span></span>
                Notre équipe
            </h1>
        </aside>
        <article class="web-artisans">
            <h4>Nous sommes des gens qui aimons faire, et bien faire.</h4>
            <p>
                Par artisans, nous entendons que nous relevons nos manches et mettons la main à la pâte pour obtenir un résultat qui vous aidera réellement. <br/>Chaque pixel, chaque ligne de code, chaque zone de texte compte pour nous.
                
            </p>
        </article>
    </div>

    <div class="member">
        <div class="photo"><img src="/assets/img/team/agz.png"></div>
        <div class="description">
            <h4>Alberto Gomez</h4>
            <p>Web Project Manager</p>
            <p class="social-links">
                <a class="twitter" href="http://www.twitter.com/kidvaldez"><span></span>Twitter</a>
                <a class="mail" href="mailto:alberto@antistatique.net"><span></span>Email</a>
                <a class="linkedin" href="http://ch.linkedin.com/in/albertobyas"><span></span>LinkedIn</a>
                <a class="facebook" href="http://www.facebook.com/alberto.gomezsalfate.7"><span></span>Facebook</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/gde.png"></div>
        <div class="description">
            <h4>Gilles Doge</h4>
            <p>Web Software Developer</p>
            <p class="social-links">
                <a class="twitter" href="http://www.twitter.com/gil_les"><span></span>Twitter</a>
                <a class="mail" href="mailto:gilles@antistatique.net"><span></span>Email</a>
                <a class="linkedin" href="http://ch.linkedin.com/in/gillesdoge"><span></span>LinkedIn</a>
                <a class="github" href="http://github.com/gido"><span></span>Github</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/mfh.png"></div>
        <div class="description">
            <h4>Marc Friederich</h4>
            <p>Interactive Medias Engineer</p>
            <p class="social-links">
                <a class="twitter" href="http://www.twitter.com/zufrieden"><span></span>Twitter</a>
                <a class="mail" href="mailto:marc@antistatique.net"><span></span>Email</a>
                <a class="linkedin" href="http://ch.linkedin.com/in/marcfriederich"><span></span>LinkedIn</a>
                <a class="github" href="http://github.com/zufrieden"><span></span>Github</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/vgn.png"></div>
        <div class="description">
            <h4>Vincent Gschwindemann</h4>
            <p>Web Designer</p>
            <p class="social-links">
                <a class="twitter" href="http://twitter.com/_20_cents"><span></span>Twitter</a>
                <a class="mail" href="mailto:vincent@antistatique.net"><span></span>Email</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/rkr.png"></div>
        <div class="description">
            <h4>Renato Kempter</h4>
            <p>Frontend Web Developer</p>
            <p class="social-links">
                <a class="twitter" href="http://www.twitter.com/rkempter"><span></span>Twitter</a>
                <a class="mail" href="mailto:renato@antistatique.net"><span></span>Email</a>
                <a class="github" href="https://github.com/rkempter"><span></span>Github</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/ygn.png"></div>
        <div class="description">
            <h4>Yann Gouffon</h4>
            <p>Frontend Web Developer</p>
            <p class="social-links">
                <a class="twitter" href="http://www.twitter.com/Yago_0"><span></span>Twitter</a>
                <a class="mail" href="mailto:yannG@antistatique.net"><span></span>Email</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/spt.png"></div>
        <div class="description">
            <h4>Simon Perdrisat</h4>
            <p>Web Software Developer</p>
            <p class="social-links">
                <a class="twitter" href="http://www.twitter.com/gagarine"><span></span>Twitter</a>
                <a class="mail" href="mailto:simon@antistatique.net"><span></span>Email</a>
                <a class="github" href="https://github.com/gagarine"><span></span>Github</a>
                <a class="drupal" href="http://drupal.org/user/162439">Drupal <span></span>User</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/yhx.png"></div>
        <div class="description">
            <h4>Yann Heurtaux</h4>
            <p>Social Media Champion</p>
            <p class="social-links">
                <a class="twitter" href="http://www.twitter.com/shalf"><span></span>Twitter</a>
                <a class="mail" href="mailto:yann@antistatique.net"><span></span>Email</a>
                <a class="linkedin" href="http://ch.linkedin.com/in/yannheurtaux"><span></span>LinkedIn</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/psx.png"></div>
        <div class="description">
            <h4>Pauline Serex</h4>
            <p>Administration</p>
            <p class="social-links">
                <a class="mail" href="#" title="Quoi ? Non mais vous pensiez vraiment que nous allions vous donner son email ?"><span></span>Email</a>
                <a class="linkedin" href="http://ch.linkedin.com/pub/pauline-serex/45/579/2bb"><span></span>LinkedIn</a>
            </p>
        </div>
    </div>
    <div class="member you">
        <div class="photo"><img src="/assets/img/team/play.png"></div>
        <div class="description">
            <h4>Pour rejoindre l'équipe !</h4>
            <p>Envoyez-nous votre CV, username Dribble ou github et autres informations passionnantes à <a href="mailto:job@antistatique.net">job@antistatique.net</a></p>
        </div>
    </div>

</div>


{% endblock %}