{% extends "layout.html.twig" %}

{% block title %}{{ 'team.title' | trans }}{% endblock %}

{% block body_class %}team{% endblock %}

{% block baseline %}
<div class="baseline-space"></div>
<div class="page-title title-image">
    <section>
        <h1 class="title-separation magenta-sep">
            <span></span>
            Team
        </h1>
    </section>
</div>
{% endblock %}

{% block content %}

<div id="intro">
    <div class="with-aside">
        <aside>
            <h2>Comment travaillons-nous au quotidien ?</h2>
        </aside>
        <article>
            
            <h4>
                Nous pratiquons le développement Agile. Nous faisons le point le plus souvent possible avec vous, chaque fois que c'est pertinent, pour affiner nos solutions à vos problèmes. Nous aimons promouvoir les notions d'hygiène du code et de développement durable et future friendly.</h4>
            <p>
                Curieux et digital natives, nous le sommes par nature : nous travaillons donc avec ceux qui ont une vision à long terme et qui affectionnent l'analyse précise basée sur des statistiques, des faits et des tests utilisateurs. Nous construisons avec nos clients un partenariat sur la durée. Nous aimons les détails pointus autant que la perspective générale.<br/>
                Nous sommes exigeants et engagés, vous pouvez compter sur nous. Vraiment.
            </p>
            <p>A part ça, nous aimons le ping-pong, et la belle ville de Lausanne.</p>
        </article>
    </div>
</div>

<div id="team">
    <div class="with-aside">
        <aside>
            <h1 class="title-separation">
                <span></span>
                Notre équipe
            </h1>
        </aside>
        <article class="web-artisans">
            <h4>Nous sommes des gens qui aimons faire, et bien faire.</h4>
            <p>
                Par artisans, nous entendons que nous relevons nos manches et mettons la main à la pâte pour obtenir un résultat qui vous aidera réellement. <br/>Chaque pixel, chaque ligne de code, chaque zone de texte compte pour nous.
                
            </p>
        </article>
    </div>

    <div class="member">
        <div class="photo"><img src="/assets/img/team/agz.png"></div>
        <div class="description">
            <h4>Alberto Gomez</h4>
            <p>Web Project Manager</p>
            <p>
                <a href="http://www.twitter.com/kidvaldez">Twitter</a>
                <a href="mailto:alberto@antistatique.net">Email</a>
                <a href="#linkedin">Linked In</a>
                <a href="#facebook">Facebook</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/gde.png"></div>
        <div class="description">
            <h4>Gilles Doge</h4>
            <p>Web software developer</p>
            <p>
                <a href="http://www.twitter.com/gil_les">Twitter</a>
                <a href="mailto:alberto@antistatique.net">Email</a>
                <a href="#linkedin">Linked In</a>
                <a href="#facebook">Facebook</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/mfh.png"></div>
        <div class="description">
            <h4>Marc Friederich</h4>
            <p>Interactive medias engineer </p>
            <p>
                <a href="http://www.twitter.com/zufrieden">Twitter</a>
                <a href="mailto:alberto@antistatique.net">Email</a>
                <a href="#linkedin">Linked In</a>
                <a href="#facebook">Facebook</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/vgn.png"></div>
        <div class="description">
            <h4>Vincent Gschwindemann</h4>
            <p>Web Designer</p>
            <p>
                <a href="http://www.twitter.com/kidvaldez">Twitter</a>
                <a href="mailto:alberto@antistatique.net">Email</a>
                <a href="#linkedin">Linked In</a>
                <a href="#facebook">Facebook</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/rkr.png"></div>
        <div class="description">
            <h4>Renato Kempter</h4>
            <p>Frontend Web Developer</p>
            <p>
                <a href="http://www.twitter.com/kidvaldez">Twitter</a>
                <a href="mailto:alberto@antistatique.net">Email</a>
                <a href="#linkedin">Linked In</a>
                <a href="#facebook">Facebook</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/ygn.png"></div>
        <div class="description">
            <h4>Yann Gouffon</h4>
            <p>Frontend Web Developer</p>
            <p>
                <a href="http://www.twitter.com/kidvaldez">Twitter</a>
                <a href="mailto:alberto@antistatique.net">Email</a>
                <a href="#linkedin">Linked In</a>
                <a href="#facebook">Facebook</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/spt.png"></div>
        <div class="description">
            <h4>Simon Perdrisat</h4>
            <p>Web software developer</p>
            <p>
                <a href="http://www.twitter.com/kidvaldez">Twitter</a>
                <a href="mailto:alberto@antistatique.net">Email</a>
                <a href="#linkedin">Linked In</a>
                <a href="#facebook">Facebook</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/yhx.png"></div>
        <div class="description">
            <h4>Yann Heurtaux</h4>
            <p>Social Media Champion</p>
            <p>
                <a href="http://www.twitter.com/kidvaldez">Twitter</a>
                <a href="mailto:alberto@antistatique.net">Email</a>
                <a href="#linkedin">Linked In</a>
                <a href="#facebook">Facebook</a>
            </p>
        </div>
    </div>
    <div class="member">
        <div class="photo"><img src="/assets/img/team/psx.png"></div>
        <div class="description">
            <h4>Pauline Serex</h4>
            <p>Administration</p>
            <p>
                <a href="http://www.twitter.com/kidvaldez">Twitter</a>
                <a href="mailto:alberto@antistatique.net">Email</a>
                <a href="#linkedin">Linked In</a>
                <a href="#facebook">Facebook</a>
            </p>
        </div>
    </div>
    <div class="member you">
        <div class="photo"><img src="/assets/img/team/you.png"></div>
        <div class="description">
            <h4>Wanna play with us ?</h4>
            <p>Send us your CV, Dribble or github username and some funny stuffs about you at <a href="mailto:job@antistatique.net">job@antistatique.net</a></p>
        </div>
    </div>

</div>


{% endblock %}